@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* DEFAULTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    color: var(--gray);
    font-size: 14px;
    font-style: normal;
}

:root {
    --dark: #1b1c2a;
    --darkhover: #212234;
    --dark3: #2e2f3f;
    --back: #252737;
    --primary: #ddd30d;
    --primaryhover: #e9e369;
    --gray: #bebebe;
    --gray2: #7e7e7e;
    --darkgray: #535353;
    --olive1: #a1b892;
    --positive: #66c748;
    --negative: #f44336;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--back);
    display: flex;
    flex-direction: column;
}


/* MAIN CONTENT AREA */

.content-wrapper {
    flex: 1;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    background: var(--back);
    overflow: hidden;
}

/* FOOTER */

.footer {
    padding: 10px;
    height: 30px;
    flex-shrink: 0;
    background: var(--dark);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: var(--gray2);
}

/* NAVIGATION BAR */

.navbar {
    height: 60px;
    width: 100%;
    background: var(--dark);
    padding: 15px 25px;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
}

.logo {
    color: var(--primary);
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;
}


/* CENTER MAIN CARD */

.main-card {
    width: 60%;
    background-color: var(--dark);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 20px 30px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.main-card.auth {
    height: fit-content;
    align-self: center;
}



/* BUTTON */

.btn {
    background: var(--primary);
    color: var(--dark);
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn i {
    color: var(--dark);
}

.btn-sm {
    background: var(--primary);
    color: var(--dark);
    font-size: smaller;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn-sm-outline {
    background: transparent;
    color: var(--gray);
    font-size: smaller;
    font-weight: regular;
    padding: 4px 6px;
    border-radius: 3px;
    border: 1px solid var(--gray);
    text-decoration: none;
    cursor: pointer;
}

.btn-sm-outline:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn:hover,
.btn-sm:hover {
    background: var(--primaryhover);
}

.btn-icon {
    background: none;
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-icon i {
    color: var(--primary);
    font-size: 24px;
    text-decoration: none;
}

.btn-icon:hover {
    background: var(--dark3);
    transition: all 0.3s ease-in-out;
}


/* SECTION TITLE */

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}


/* TABLE*/

.table-wrapper {
    overflow-x: auto;
    margin-top: 5px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--dark);
    border-radius: 8px;
    overflow: hidden;
    font-size: 13px;
}

.order-table th,
.order-table td {
    padding: 12px 16px;
    text-align: left;
    border: 2px solid var(--back);
}

.order-table th {
    background-color: var(--back);
    color: var(--primary);
}

.order-table tr:hover {
    background-color: var(--darkhover);
}


/* MARKS */
.check-mark {
    background-color: transparent;
    color: #4caf50;
    font-weight: bold;
    font-size: 12px;
    padding: 0;
}


/* ----SUCCESS ERROR MESSAGE---- */
/* this style is for success and error messages */
.success {
    color: var(--positive);
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

.error {
    color: var(--negative);
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}



/* FORM */
.form-wrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-group-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-group-horizontal label,
.form-group label {
    margin-bottom: 8px;
}

.form-group-horizontal input {
    flex: 1;
}

.form-group-horizontal input, select, textarea,
.form-group input, select, textarea {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #2b2b40;
}

.form-group-horizontal input:focus, select:focus, textarea:focus,
.form-group input:focus, select:focus, textarea:focus {
    outline: 2px solid var(--primary);
}

.form-group input[type="checkbox"]  {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}


/* ORDER VIEW */
.order-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 20px;
}

.order-info div {
    line-height: 1.2;
}

.highlight {
    color: var(--primary);
    font-weight: bold;
}







/* CHARTS DASHBOARD */
.dashboard-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.chart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.chart-box {
    display: flex;
    flex-direction: column;
    background: var(--back);
    padding: 12px 15px;
    border-radius: 8px;
    height: 210px;
    box-sizing: border-box;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}
.stat-card {
    background: var(--back);
    padding: 25px 20px;
    border-radius: 8px;
    text-align: left;
}
.stat-card h3,
.chart-box h3 {
    font-size: 16px;
    text-align: left;
    color: var(--gray);
    margin-bottom: 3px;
}
.data-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stat {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    color: var(--primary);
    line-height: 1;
}
.card-icon {
    font-size: 28px;
    color: var(--gray);
    margin-bottom: 5px;
}


/* DELTA INDICATOR */
.delta-block {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;
}
.delta {
    display: block;
    font-size: 13px;
    font-weight: 500;
}
.delta.up {
    color: var(--positive);
}
.delta.down {
    color: var(--negative);
}
.delta i {
    margin-right: 4px;
}
.delta-note {
    display: block;
    font-size: 10px;
    color: var(--gray);
    margin-top: 2px;
    line-height: 1;
}


/* FILTERS */
.filter-buttons {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.filter-btn {
    color: var(--gray);
    background: var(--back);
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.filter-btn.active {
    background: var(--primary);
    color: #111;
}




/* SCROLLBAR */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-thumb {
    background: var(--darkhover);
    border-radius: 6px;
}
*::-webkit-scrollbar-thumb:hover {
    background: var(--darkhover);
}