fastapi
uvicorn
langchain
langchain-community
langchain-experimental
langchain-core
langchain-ollama
pandas
pydantic
python-dotenv
pymysql
requests
sqlalchemy
sqlparse
matplotlib
mysqlclient
mysql-connector-python
